<br>
{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="my-4">{{ categoria.nombre }}</h1>
    </div>
  </div>
  <div class="row">
    {% for producto in productos %}     
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="{% url 'tienda:product_detail' pk=producto.pk %}">
            <img class="card-img-top" src="{{ producto.imagen.url }}" alt="">
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{% url 'tienda:product_detail' pk=producto.pk %}">{{ producto.nombre }}</a>
            </h4>
            <h5>S/ {{ producto.precio }}</h5>
            <p class="card-text">{{ producto.descripcion }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
